# Import Library

In [ ]:
import pandas as pd

In [ ]:
df_local_guide=pd.read_csv('local-guide.csv')
df_local_guide.head()

,Nama Pemandu,Umur,Jenis Kelamin,Lokasi,Pendidikan Terakhir,Pekerjaan,Rating,Category,Pengalaman Objek Wisata
0,"Sutan Ade Siregar, M.M.",29,Laki-laki,Bandung,S1,Guru,4.1,Budaya,"Pasar Tanah Abang, Taman Ayodya, Museum Tekstil,"
1,Harjasa Mahendra,30,Laki-laki,Bandung,SD,pedagang,3.8,Budaya,"Pasar Tanah Abang, Pasar Taman Puring, Pasar P..."
2,Wasis Pangestu,32,Laki-laki,Surabaya,SMA,Wartawan,3.7,Taman Hiburan,"Perpustakaan Nasional, Monas, Masjid Istiqlal,"
3,Najwa Suartini,30,Perempuan,Maluku,SMP,Guru,3.0,Taman Hiburan,"Pulau Tidung, Pulau Bidadari, Pulau Pari, Pula..."
4,"Bambang Hasanah, S.IP",17,Perempuan,Samarinda,S2,Pengusaha,4.6,Taman Hiburan,"Museum Satria Mandala, Museum Wayang, Museum B..."

In [ ]:
df_local_guide['Category'].unique()

array(['Budaya', 'Taman Hiburan', 'Cagar Alam', 'Bahari',
       'Pusat Perbelanjaan', 'Tempat Ibadah'], dtype=object)

In [ ]:
df_local_guide.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 100 entries, 0 to 99
Data columns (total 9 columns):
 #   Column                   Non-Null Count  Dtype
---  ------                   --------------  -----
 0   Nama Pemandu             100 non-null    object
 1   Umur                     100 non-null    int64
 2   Jenis Kelamin            100 non-null    object
 3   Lokasi                   100 non-null    object
 4   Pendidikan Terakhir      100 non-null    object
 5   Pekerjaan                100 non-null    object
 6   Rating                   100 non-null    float64
 7   Category                 100 non-null    object
 8   Pengalaman Objek Wisata  100 non-null    object
dtypes: float64(1), int64(1), object(7)
memory usage: 7.2+ KB

# Preprocessing Data

In [ ]:
df_local_guide.isnull().sum()

Nama Pemandu               0
Umur                       0
Jenis Kelamin              0
Lokasi                     0
Pendidikan Terakhir        0
Pekerjaan                  0
Rating                     0
Category                   0
Pengalaman Objek Wisata    0
dtype: int64

In [ ]:
import re

# Fungsi untuk membersihkan gelar
def clean_title(name):
    pattern = r'([A-Za-z\s]+)(?:,\s[A-Za-z\.\s]+)?$'  # Pola regex untuk mencocokkan dan mengambil hanya nama
    match = re.search(pattern, name)
    cleaned_name = match.group(1) if match else ""  # Mengembalikan string kosong jika tidak ada kecocokan
    return cleaned_name

# Membersihkan kolom Nama
df_local_guide['Nama Pemandu'] = df_local_guide['Nama Pemandu'].apply(clean_title)

# Menampilkan dataframe hasil
df_local_guide.head()

,Nama Pemandu,Umur,Jenis Kelamin,Lokasi,Pendidikan Terakhir,Pekerjaan,Rating,Category,Pengalaman Objek Wisata
0,Sutan Ade Siregar,29,Laki-laki,Bandung,S1,Guru,4.1,Budaya,"Pasar Tanah Abang, Taman Ayodya, Museum Tekstil,"
1,Harjasa Mahendra,30,Laki-laki,Bandung,SD,pedagang,3.8,Budaya,"Pasar Tanah Abang, Pasar Taman Puring, Pasar P..."
2,Wasis Pangestu,32,Laki-laki,Surabaya,SMA,Wartawan,3.7,Taman Hiburan,"Perpustakaan Nasional, Monas, Masjid Istiqlal,"
3,Najwa Suartini,30,Perempuan,Maluku,SMP,Guru,3.0,Taman Hiburan,"Pulau Tidung, Pulau Bidadari, Pulau Pari, Pula..."
4,Bambang Hasanah,17,Perempuan,Samarinda,S2,Pengusaha,4.6,Taman Hiburan,"Museum Satria Mandala, Museum Wayang, Museum B..."

create preference

In [ ]:
df_local_guide['Preferensi'] = df_local_guide[['Lokasi', 'Category', 'Pengalaman Objek Wisata']].apply(lambda x: ', '.join(x.dropna().astype(str)), axis=1)

In [ ]:
df_local_guide = df_local_guide[['Nama Pemandu', 'Rating', 'Preferensi']]
df_local_guide

,Nama Pemandu,Rating,Preferensi
0,Sutan Ade Siregar,4.1,"Bandung, Budaya, Pasar Tanah Abang, Taman Ayod..."
1,Harjasa Mahendra,3.8,"Bandung, Budaya, Pasar Tanah Abang, Pasar Tama..."
2,Wasis Pangestu,3.7,"Surabaya, Taman Hiburan, Perpustakaan Nasional..."
3,Najwa Suartini,3.0,"Maluku, Taman Hiburan, Pulau Tidung, Pulau Bid..."
4,Bambang Hasanah,4.6,"Samarinda, Taman Hiburan, Museum Satria Mandal..."
...,...,...,...
95,Sabrina Lailasari,3.9,"Aceh, Taman Hiburan, Ekowisata Mangrove Wonore..."
96,Sutan Yahya Siregar,3.8,"Yogyakarta, Budaya, Ciputra Waterpark, Kenjera..."
97,Hana Pudjiastuti,4.2,"Bandung, Taman Hiburan, Museum Kesehatan Dr. A..."
98,Ophelia Namaga,4.7,"Sukabumi, Budaya, Taman Ekspresi Dan Perpustak..."
99,Adika Mangunsong,4.2,"Maluku, Budaya, Taman Buah Surabaya, Hutan Bam..."

In [ ]:
# keyword
list_keywords = ['Budaya', 'Taman Hiburan', 'Cagar Alam', 'Bahari', 'Pusat Perbelanjaan', 'Tempat Ibadah'] 

# Fungsi untuk mencari kata dalam preferensi
def cari_kata(preferensi):
    kata_ditemukan = []
    preferensi_lower = preferensi.lower() # Mengubah preferensi menjadi huruf kecil
    
    for keywords in list_keywords:
        keywords_lower = keywords.lower() # Mengubah keywords menjadi huruf kecil
        
        if keywords_lower in preferensi_lower:
            kata_ditemukan.append(keywords)
    
    return kata_ditemukan

# Membuat kolom keywords
df_local_guide['keywords'] = df_local_guide['Preferensi'].apply(cari_kata)

In [ ]:
df_local_guide

,Nama Pemandu,Rating,Preferensi,keywords
0,Sutan Ade Siregar,4.1,"Bandung, Budaya, Pasar Tanah Abang, Taman Ayod...",[Budaya]
1,Harjasa Mahendra,3.8,"Bandung, Budaya, Pasar Tanah Abang, Pasar Tama...",[Budaya]
2,Wasis Pangestu,3.7,"Surabaya, Taman Hiburan, Perpustakaan Nasional...",[Taman Hiburan]
3,Najwa Suartini,3.0,"Maluku, Taman Hiburan, Pulau Tidung, Pulau Bid...",[Taman Hiburan]
4,Bambang Hasanah,4.6,"Samarinda, Taman Hiburan, Museum Satria Mandal...","[Taman Hiburan, Bahari]"
...,...,...,...,...
95,Sabrina Lailasari,3.9,"Aceh, Taman Hiburan, Ekowisata Mangrove Wonore...",[Taman Hiburan]
96,Sutan Yahya Siregar,3.8,"Yogyakarta, Budaya, Ciputra Waterpark, Kenjera...",[Budaya]
97,Hana Pudjiastuti,4.2,"Bandung, Taman Hiburan, Museum Kesehatan Dr. A...",[Taman Hiburan]
98,Ophelia Namaga,4.7,"Sukabumi, Budaya, Taman Ekspresi Dan Perpustak...",[Budaya]
99,Adika Mangunsong,4.2,"Maluku, Budaya, Taman Buah Surabaya, Hutan Bam...",[Budaya]

In [ ]:
from sklearn.preprocessing import MinMaxScaler

# Inisialisasi MinMaxScaler
scaler = MinMaxScaler(feature_range=(0, 1))

# Mengambil nilai rating dari dataframe
ratings = df_local_guide['Rating'].values.reshape(-1, 1)

# Melakukan normalisasi fitur rating
normalized_ratings = scaler.fit_transform(ratings)

# Menyimpan hasil normalisasi ke dalam kolom "normalized_rating"
df_local_guide['Rating'] = normalized_ratings

# Tampilkan dataframe dengan fitur rating yang telah dinormalisasi
df_local_guide

,Nama Pemandu,Rating,Preferensi,keywords
0,Sutan Ade Siregar,0.55,"Bandung, Budaya, Pasar Tanah Abang, Taman Ayod...",[Budaya]
1,Harjasa Mahendra,0.40,"Bandung, Budaya, Pasar Tanah Abang, Pasar Tama...",[Budaya]
2,Wasis Pangestu,0.35,"Surabaya, Taman Hiburan, Perpustakaan Nasional...",[Taman Hiburan]
3,Najwa Suartini,0.00,"Maluku, Taman Hiburan, Pulau Tidung, Pulau Bid...",[Taman Hiburan]
4,Bambang Hasanah,0.80,"Samarinda, Taman Hiburan, Museum Satria Mandal...","[Taman Hiburan, Bahari]"
...,...,...,...,...
95,Sabrina Lailasari,0.45,"Aceh, Taman Hiburan, Ekowisata Mangrove Wonore...",[Taman Hiburan]
96,Sutan Yahya Siregar,0.40,"Yogyakarta, Budaya, Ciputra Waterpark, Kenjera...",[Budaya]
97,Hana Pudjiastuti,0.60,"Bandung, Taman Hiburan, Museum Kesehatan Dr. A...",[Taman Hiburan]
98,Ophelia Namaga,0.85,"Sukabumi, Budaya, Taman Ekspresi Dan Perpustak...",[Budaya]
99,Adika Mangunsong,0.60,"Maluku, Budaya, Taman Buah Surabaya, Hutan Bam...",[Budaya]

In [ ]:
import nltk
nltk.download('stopwords')
nltk.download('punkt')

[nltk_data] Downloading package stopwords to /root/nltk_data...
[nltk_data]   Unzipping corpora/stopwords.zip.
[nltk_data] Downloading package punkt to /root/nltk_data...
[nltk_data]   Unzipping tokenizers/punkt.zip.

True

In [ ]:
from sklearn.feature_extraction.text import TfidfVectorizer
from sklearn.metrics.pairwise import cosine_similarity
from nltk.corpus import stopwords
from nltk.tokenize import word_tokenize

class Tourist:
    def __init__(self, name, needs):
        self.name = name
        self.needs = needs

class Guide:
    def __init__(self, name, expertise, rating):
        self.name = name
        self.expertise = expertise
        self.rating = rating

class Matchmaking:
    def __init__(self):
        self.tourists = []
        self.guides = []
        self.vectorizer = TfidfVectorizer()

    def add_tourist(self, tourist):
        self.tourists.append(tourist)

    def add_guide(self, guide):
        self.guides.append(guide)

    def preprocess_text(self, text):
        stop_words = set(stopwords.words('english') + stopwords.words('indonesian'))
        tokens = word_tokenize(text.lower())
        filtered_tokens = [token for token in tokens if token.isalpha() and token not in stop_words]
        preprocessed_text = ' '.join(filtered_tokens)
        return preprocessed_text

    def fit_vectorizer(self):
        corpus = []
        for tourist in self.tourists:
            corpus.append(self.preprocess_text(tourist.needs))
        for guide in self.guides:
            corpus.append(self.preprocess_text(guide.expertise))
        self.vectorizer.fit(corpus)

    def find_guide(self, tourist):
        tourist_needs = self.preprocess_text(tourist.needs)
        tourist_vector = self.vectorizer.transform([tourist_needs])

        matched_guides = []
        for guide in self.guides:
            guide_expertise = self.preprocess_text(guide.expertise)
            guide_vector = self.vectorizer.transform([guide_expertise])

            similarity_score = cosine_similarity(tourist_vector, guide_vector)[0][0]
            if similarity_score > 0:
                matched_guides.append((guide, similarity_score))
        matched_guides = sorted(matched_guides, key=lambda x: (x[1] + x[0].rating), reverse=True)

        return matched_guides

In [ ]:
import warnings

# Ignore future warnings
warnings.simplefilter(action='ignore', category=FutureWarning)

# Initialize
platform = Matchmaking()

# Menambahkan tourists dan guides ke platform
tourist1 = Tourist("tourist 1", "Bagaimana cara saya bisa mengunjungi Wisata Budaya?")
tourist2 = Tourist("tourist 2", "Saya membutuhkan bimbingan dalam melakukan perjalanan ke tempat budaya")
tourist3 = Tourist("tourist 3", " Saya ingin melihat kawasan cagar alam di Indonesia")
platform.add_tourist(tourist1)
platform.add_tourist(tourist2)
platform.add_tourist(tourist3)

for index, row in df_local_guide.iterrows():
    guide_expertise = ' '.join(row['Preferensi'].split()[:10])  # Mengambil maksimal 10 kata dari guide.expertise
    guide = Guide(row['Nama Pemandu'], guide_expertise, row['Rating'])
    platform.add_guide(guide)

# Fitting vectorizer
platform.fit_vectorizer()

# Melakukan pencocokan tourist dengan guide
for tourist in platform.tourists:
    matched_guides = platform.find_guide(tourist)
    if len(matched_guides) > 0:
        print(f"tourist '{tourist.name}' cocok dengan guide:")
        for guide, similarity_score in matched_guides:
            print(f"- {guide.name} ({guide.expertise}) - Similarity Score: {similarity_score} - Rating: {guide.rating}")
    else:
        print(f"tourist '{tourist.name}' tidak ditemukan guide yang cocok.")

tourist 'tourist 1' cocok dengan guide:
- Prayoga Usada (Aceh, Budaya, Pasar Beringharjo, Pasar Kebon Empring Bintaran, Kawasan Wisata) - Similarity Score: 0.1358792042772754 - Rating: 0.8999999999999999
-  Edward Mayasari (Makassar, Budaya, Taman Buah Surabaya, Taman Pelangi, Taman Barunawati, Taman) - Similarity Score: 0.05614457325587764 - Rating: 0.9500000000000002
- Shania Laksmiwati (Jakarta, Budaya, Museum Sepuluh Nopember Kota Surabaya, Museum Kesehatan Dr.) - Similarity Score: 0.04841586816600227 - Rating: 0.9500000000000002
- Karja Mayasari (Makassar, Pusat Perbelanjaan, Kampung Wisata Taman Sari, Monumen Serangan Umum) - Similarity Score: 0.11766549541369786 - Rating: 0.8500000000000001
-  Hamzah Hutasoit (Bandung, Budaya, Museum Joang 45, Museum Fatahillah, Museum Bank Indonesia,) - Similarity Score: 0.04993414656578074 - Rating: 0.8999999999999999
- Faizah Megantara (Maluku, Budaya, Klenteng Jin De Yuan, Masjid Istiqlal, Gereja Katedral,) - Similarity Score: 0.04769742071973138 - Rating: 0.8999999999999999
-  Cayadi Maryadi (Bandung, Budaya, Nol Kilometer Jl.Malioboro, Alun Alun Selatan Yogyakarta, Tugu) - Similarity Score: 0.04241268179452733 - Rating: 0.8999999999999999
- Ophelia Namaga (Sukabumi, Budaya, Taman Ekspresi Dan Perpustakaan, Museum De Javasche Bank,) - Similarity Score: 0.0572215972561586 - Rating: 0.8500000000000001
- Tina Sitorus (Bandung, Cagar Alam, Wisata Lereng Kelir, Monumen Palagan Ambarawa, Benteng) - Similarity Score: 0.10250210098725784 - Rating: 0.7999999999999998
- Clara Habibi (Aceh, Budaya, Wisata Agro Edukatif Istana Susu Cibugary, Bumi Perkemahan) - Similarity Score: 0.134760442448316 - Rating: 0.75
- Puti Zaenab Yulianti (Makassar, Pusat Perbelanjaan, Gembira Loka Zoo, Kampung Wisata Kadipaten, Tebing) - Similarity Score: 0.10089127802819334 - Rating: 0.75
-  Maman Palastri (Sukabumi, Budaya, Museum Konferensi Asia Afrika, Monumen Perjuangan Rakyat Jawa) - Similarity Score: 0.045160242680082834 - Rating: 0.7999999999999998
- Elon Januar (Maluku, Budaya, Taman Begonia, Curug Malela, Taman Kupu-Kupu Cihanjuang, Gua) - Similarity Score: 0.05273448104162054 - Rating: 0.75
-  Uchita Novitasari (Yogyakarta, Budaya, Taman Hutan Raya Ir. H. Djuanda, Tebing Karaton,) - Similarity Score: 0.051180657257197074 - Rating: 0.75
- Pia Mayasari (Samarinda, Budaya, Monumen Palagan Ambarawa, Benteng Pendem, Museum Kereta Ambarawa,) - Similarity Score: 0.04363350139348128 - Rating: 0.75
- Ghaliyati Mardhiyah (Maluku, Budaya, Curug Dago, Curug Batu Templek, Curug Aseupan, Curug) - Similarity Score: 0.03174813225708659 - Rating: 0.75
- Garda Pratama (Maluku, Budaya, Kampung Pelangi, Hutan Wisata Tinjomoyo Semarang, Taman Kasmaran,) - Similarity Score: 0.16753221115122352 - Rating: 0.6000000000000001
- Eka Usamah (Maluku, Budaya, Sindu Kusuma Edupark (SKE), Taman Pelangi Yogyakarta, The) - Similarity Score: 0.053145173606134716 - Rating: 0.7000000000000002
- Dasa Budiyanto (Maluku, Budaya, Jembatan Biru Ambarawa, Masjid Agung Ungaran, Tugu Muda) - Similarity Score: 0.04608811267299698 - Rating: 0.7000000000000002
- Endah Nurdiyanti (Makassar, Budaya, Museum Sumpah Pemuda, Tugu Proklamasi, Museum Basoeki Abdullah,) - Similarity Score: 0.04542436943557206 - Rating: 0.7000000000000002
- Dodo Budiman (Bali, Taman Hiburan, De Mata Museum Jogja, Kampung Wisata Kadipaten,) - Similarity Score: 0.11420976887769126 - Rating: 0.6000000000000001
- Erik Kurniawan (Maluku, Taman Hiburan, Pantai Baruna, Pantai Marina, Wisata Mangrove Tapak,) - Similarity Score: 0.10339706400700426 - Rating: 0.6000000000000001
- Julia Yuliarti (Jakarta, Taman Hiburan, Tirto Argo Siwarak, Wisata Eling Bening, Semarang) - Similarity Score: 0.0989517002149921 - Rating: 0.6000000000000001
- Elma Hidayat (Surabaya, Budaya, Museum De Javasche Bank, Surabaya Museum (Gedung Siola),) - Similarity Score: 0.04773408899352802 - Rating: 0.6499999999999999
- Adika Mangunsong (Maluku, Budaya, Taman Buah Surabaya, Hutan Bambu Keputih, Taman Barunawati,) - Similarity Score: 0.055283736648755605 - Rating: 0.6000000000000001
- Cengkir Latupono (Yogyakarta, Budaya, Waduk Jatibarang, Wisata Lereng Kelir, Kampoeng Rawa, Wisata) - Similarity Score: 0.24588585456782336 - Rating: 0.3999999999999999
- Sutan Ade Siregar (Bandung, Budaya, Pasar Tanah Abang, Taman Ayodya, Museum Tekstil,) - Similarity Score: 0.05542973913661632 - Rating: 0.5499999999999998
- Ajimin Prabowo (Surabaya, Pusat Perbelanjaan, Desa Wisata Lembah Kalipancur, Masjid Kapal Semarang,) - Similarity Score: 0.10386523875330134 - Rating: 0.5
- Edison Mangunsong (Jakarta, Budaya, Kampoeng Djadhoel Semarang, Pura Giri Natha, Old City) - Similarity Score: 0.043827630759111315 - Rating: 0.5499999999999998
- Diana Wastuti (Nusa Tenggara Timur, Taman Hiburan, Wisata Mangrove Tapak, Umbul Sidomukti,) - Similarity Score: 0.10941461251603105 - Rating: 0.3999999999999999
- Jati Sudiati (Nusa Tenggara Timur, Budaya, Bukit Wisata Pulepayung, Hutan Pinus Asri,) - Similarity Score: 0.15601978335623015 - Rating: 0.3500000000000001
- Hasta Narpati (Makassar, Budaya, Air Terjun Semirang, Obyek Wisata Goa Kreo, Watu) - Similarity Score: 0.14248691003670647 - Rating: 0.3500000000000001
- Sutan Yahya Siregar (Yogyakarta, Budaya, Ciputra Waterpark, Kenjeran Park, Kebun Binatang Surabaya, Food) - Similarity Score: 0.05033366232239524 - Rating: 0.3999999999999999
- Edi Sinaga (Sukabumi, Budaya, NuArt Sculpture Park, Pesona Nirwana Waterpark & Cottages,) - Similarity Score: 0.04716420986992899 - Rating: 0.3999999999999999
- Harjasa Mahendra (Bandung, Budaya, Pasar Tanah Abang, Pasar Taman Puring, Pasar Petak) - Similarity Score: 0.040231746009064276 - Rating: 0.3999999999999999
- Nilam Permata (Jakarta, Taman Hiburan, Grand Maerakaca, Kampung Pelangi, Desa Wisata Lembah) - Similarity Score: 0.11045783551800366 - Rating: 0.30000000000000004
- Pangestu Hidayat (Bali, Budaya, Dago Dreampark, Orchid Forest Cikole, Jendela Alam, Sudut) - Similarity Score: 0.043592774141739704 - Rating: 0.3500000000000001
- Nabila Gunawan (Surabaya, Budaya, Rumah Batik, Jembatan Merah, Monumen Tugu Pahlawan, Monumen) - Similarity Score: 0.04524640249681841 - Rating: 0.25
- Asmuni Mahendra (Bali, Budaya, Watu Lumbung, Bunker Kaliadem Merapi, Goa Rancang Kencono,) - Similarity Score: 0.04299793511571801 - Rating: 0.25
- Puti Malika Tamba (Samarinda, Budaya, Kawasan Punclut, Lawangwangi Creative Space, Curug Tilu Leuwi) - Similarity Score: 0.043928197099170244 - Rating: 0.19999999999999996
- Digdaya Situmorang (Nusa Tenggara Timur, Budaya, Indonesia Kaya Park, Taman Pandanaran, Taman) - Similarity Score: 0.054405633854708986 - Rating: 0.1499999999999999
- Lasmono Wibowo (Bali, Pusat Perbelanjaan, Desa Wisata Sungai Code Jogja Kota, Kawasan) - Similarity Score: 0.10342106968816925 - Rating: 0.10000000000000009
- Cinthia Widiastuti (Makassar, Budaya, Caringin Tilu, Curug Anom, Bukit Jamur, Kebun Tanaman) - Similarity Score: 0.04503516053562814 - Rating: 0.1499999999999999
- Irsad Thamrin (Makassar, Budaya, Candi Gedong Songo, Lawang Sewu, Sam Poo Kong) - Similarity Score: 0.0448701467937319 - Rating: 0.1499999999999999
- Rika Suryono (Bandung, Budaya, Pantai Indrayanti, Pantai Nglambor, Pantai Parangtritis, Pantai Sundak,) - Similarity Score: 0.03441304079494279 - Rating: 0.10000000000000009
- Amelia Kuswandari (Nusa Tenggara Timur, Budaya, Gunung Tangkuban Perahu, Gunung Papandayan, Gunung) - Similarity Score: 0.03518300030642931 - Rating: 0.050000000000000044
- Maimunah Nasyiah (Makassar, Budaya, Alun-Alun Kota Bandung, Taman Balai Kota Bandung, Teras) - Similarity Score: 0.051358448725479615 - Rating: 0.0
-  Gamblang Maryadi (Yogyakarta, Pusat Perbelanjaan, Hutan Pinus Pengger, Bentara Budaya Yogyakarta (BBY),) - Similarity Score: 0.047519991766731114 - Rating: 0.0
- Cemani Pranowo (Aceh, Budaya, Pantai Baruna, Pantai Marina, Pantai Cipta, ,) - Similarity Score: 0.04354929124206415 - Rating: 0.0
tourist 'tourist 2' cocok dengan guide:
-  Edward Mayasari (Makassar, Budaya, Taman Buah Surabaya, Taman Pelangi, Taman Barunawati, Taman) - Similarity Score: 0.038203428708116736 - Rating: 0.9500000000000002
- Shania Laksmiwati (Jakarta, Budaya, Museum Sepuluh Nopember Kota Surabaya, Museum Kesehatan Dr.) - Similarity Score: 0.03294445145021759 - Rating: 0.9500000000000002
-  Hamzah Hutasoit (Bandung, Budaya, Museum Joang 45, Museum Fatahillah, Museum Bank Indonesia,) - Similarity Score: 0.033977560034740284 - Rating: 0.8999999999999999
- Faizah Megantara (Maluku, Budaya, Klenteng Jin De Yuan, Masjid Istiqlal, Gereja Katedral,) - Similarity Score: 0.03245558575577107 - Rating: 0.8999999999999999
- Prayoga Usada (Aceh, Budaya, Pasar Beringharjo, Pasar Kebon Empring Bintaran, Kawasan Wisata) - Similarity Score: 0.02995857084007162 - Rating: 0.8999999999999999
-  Cayadi Maryadi (Bandung, Budaya, Nol Kilometer Jl.Malioboro, Alun Alun Selatan Yogyakarta, Tugu) - Similarity Score: 0.028859598912128855 - Rating: 0.8999999999999999
- Ophelia Namaga (Sukabumi, Budaya, Taman Ekspresi Dan Perpustakaan, Museum De Javasche Bank,) - Similarity Score: 0.038936286885239965 - Rating: 0.8500000000000001
-  Maman Palastri (Sukabumi, Budaya, Museum Konferensi Asia Afrika, Monumen Perjuangan Rakyat Jawa) - Similarity Score: 0.03072916956384881 - Rating: 0.7999999999999998
- Elon Januar (Maluku, Budaya, Taman Begonia, Curug Malela, Taman Kupu-Kupu Cihanjuang, Gua) - Similarity Score: 0.03588304033858118 - Rating: 0.75
-  Uchita Novitasari (Yogyakarta, Budaya, Taman Hutan Raya Ir. H. Djuanda, Tebing Karaton,) - Similarity Score: 0.0348257449896138 - Rating: 0.75
- Clara Habibi (Aceh, Budaya, Wisata Agro Edukatif Istana Susu Cibugary, Bumi Perkemahan) - Similarity Score: 0.029711906858748516 - Rating: 0.75
- Pia Mayasari (Samarinda, Budaya, Monumen Palagan Ambarawa, Benteng Pendem, Museum Kereta Ambarawa,) - Similarity Score: 0.02969030243001919 - Rating: 0.75
- Ghaliyati Mardhiyah (Maluku, Budaya, Curug Dago, Curug Batu Templek, Curug Aseupan, Curug) - Similarity Score: 0.021602933942907732 - Rating: 0.75
- Eka Usamah (Maluku, Budaya, Sindu Kusuma Edupark (SKE), Taman Pelangi Yogyakarta, The) - Similarity Score: 0.03616249502492932 - Rating: 0.7000000000000002
- Dasa Budiyanto (Maluku, Budaya, Jembatan Biru Ambarawa, Masjid Agung Ungaran, Tugu Muda) - Similarity Score: 0.03136053628495903 - Rating: 0.7000000000000002
- Endah Nurdiyanti (Makassar, Budaya, Museum Sumpah Pemuda, Tugu Proklamasi, Museum Basoeki Abdullah,) - Similarity Score: 0.030908893927007672 - Rating: 0.7000000000000002
- Elma Hidayat (Surabaya, Budaya, Museum De Javasche Bank, Surabaya Museum (Gedung Siola),) - Similarity Score: 0.032480536587215725 - Rating: 0.6499999999999999
- Adika Mangunsong (Maluku, Budaya, Taman Buah Surabaya, Hutan Bambu Keputih, Taman Barunawati,) - Similarity Score: 0.03761767467985754 - Rating: 0.6000000000000001
- Garda Pratama (Maluku, Budaya, Kampung Pelangi, Hutan Wisata Tinjomoyo Semarang, Taman Kasmaran,) - Similarity Score: 0.036937408063752945 - Rating: 0.6000000000000001
- Sutan Ade Siregar (Bandung, Budaya, Pasar Tanah Abang, Taman Ayodya, Museum Tekstil,) - Similarity Score: 0.037717021692627126 - Rating: 0.5499999999999998
- Edison Mangunsong (Jakarta, Budaya, Kampoeng Djadhoel Semarang, Pura Giri Natha, Old City) - Similarity Score: 0.02982239725147591 - Rating: 0.5499999999999998
- Sutan Yahya Siregar (Yogyakarta, Budaya, Ciputra Waterpark, Kenjeran Park, Kebun Binatang Surabaya, Food) - Similarity Score: 0.0342494094912502 - Rating: 0.3999999999999999
- Cengkir Latupono (Yogyakarta, Budaya, Waduk Jatibarang, Wisata Lereng Kelir, Kampoeng Rawa, Wisata) - Similarity Score: 0.03234693554519663 - Rating: 0.3999999999999999
- Edi Sinaga (Sukabumi, Budaya, NuArt Sculpture Park, Pesona Nirwana Waterpark & Cottages,) - Similarity Score: 0.032092763821156264 - Rating: 0.3999999999999999
- Harjasa Mahendra (Bandung, Budaya, Pasar Tanah Abang, Pasar Taman Puring, Pasar Petak) - Similarity Score: 0.02737558683464467 - Rating: 0.3999999999999999
- Jati Sudiati (Nusa Tenggara Timur, Budaya, Bukit Wisata Pulepayung, Hutan Pinus Asri,) - Similarity Score: 0.03439915443272842 - Rating: 0.3500000000000001
- Hasta Narpati (Makassar, Budaya, Air Terjun Semirang, Obyek Wisata Goa Kreo, Watu) - Similarity Score: 0.03141543410430087 - Rating: 0.3500000000000001
- Pangestu Hidayat (Bali, Budaya, Dago Dreampark, Orchid Forest Cikole, Jendela Alam, Sudut) - Similarity Score: 0.029662589677598827 - Rating: 0.3500000000000001
- Nabila Gunawan (Surabaya, Budaya, Rumah Batik, Jembatan Merah, Monumen Tugu Pahlawan, Monumen) - Similarity Score: 0.030787796786842576 - Rating: 0.25
- Asmuni Mahendra (Bali, Budaya, Watu Lumbung, Bunker Kaliadem Merapi, Goa Rancang Kencono,) - Similarity Score: 0.029257833010915175 - Rating: 0.25
- Puti Malika Tamba (Samarinda, Budaya, Kawasan Punclut, Lawangwangi Creative Space, Curug Tilu Leuwi) - Similarity Score: 0.029890827355759857 - Rating: 0.19999999999999996
- Digdaya Situmorang (Nusa Tenggara Timur, Budaya, Indonesia Kaya Park, Taman Pandanaran, Taman) - Similarity Score: 0.0370201719196554 - Rating: 0.1499999999999999
- Cinthia Widiastuti (Makassar, Budaya, Caringin Tilu, Curug Anom, Bukit Jamur, Kebun Tanaman) - Similarity Score: 0.030644057744286926 - Rating: 0.1499999999999999
- Irsad Thamrin (Makassar, Budaya, Candi Gedong Songo, Lawang Sewu, Sam Poo Kong) - Similarity Score: 0.030531774573201775 - Rating: 0.1499999999999999
- Rika Suryono (Bandung, Budaya, Pantai Indrayanti, Pantai Nglambor, Pantai Parangtritis, Pantai Sundak,) - Similarity Score: 0.023416264019808494 - Rating: 0.10000000000000009
- Amelia Kuswandari (Nusa Tenggara Timur, Budaya, Gunung Tangkuban Perahu, Gunung Papandayan, Gunung) - Similarity Score: 0.023940180964927175 - Rating: 0.050000000000000044
- Maimunah Nasyiah (Makassar, Budaya, Alun-Alun Kota Bandung, Taman Balai Kota Bandung, Teras) - Similarity Score: 0.034946722731353644 - Rating: 0.0
-  Gamblang Maryadi (Yogyakarta, Pusat Perbelanjaan, Hutan Pinus Pengger, Bentara Budaya Yogyakarta (BBY),) - Similarity Score: 0.03233485468661129 - Rating: 0.0
- Cemani Pranowo (Aceh, Budaya, Pantai Baruna, Pantai Marina, Pantai Cipta, ,) - Similarity Score: 0.029633001851715704 - Rating: 0.0
tourist 'tourist 3' cocok dengan guide:
- Mursinin Januar (Yogyakarta, Cagar Alam, Puncak Segoro, Taman Pelangi Jogja, Galaxy Waterpark) - Similarity Score: 0.2910591511389816 - Rating: 0.8500000000000001
- Darmanto Pertiwi (Aceh, Pusat Perbelanjaan, Mall Thamrin City, Grand Indonesia Mall, Plaza) - Similarity Score: 0.11389335000673508 - Rating: 1.0
- Lega Sitorus (Sukabumi, Taman Hiburan, Kota Tua, Museum Bank Indonesia, Monas, Perpustakaan) - Similarity Score: 0.1579902856926259 - Rating: 0.9500000000000002
- Tina Sitorus (Bandung, Cagar Alam, Wisata Lereng Kelir, Monumen Palagan Ambarawa, Benteng) - Similarity Score: 0.29026434325555567 - Rating: 0.7999999999999998
- Prayoga Usada (Aceh, Budaya, Pasar Beringharjo, Pasar Kebon Empring Bintaran, Kawasan Wisata) - Similarity Score: 0.14630581287756397 - Rating: 0.8999999999999999
-  Hamzah Hutasoit (Bandung, Budaya, Museum Joang 45, Museum Fatahillah, Museum Bank Indonesia,) - Similarity Score: 0.14207722995213484 - Rating: 0.8999999999999999
- Gada Kuswoyo (Sukabumi, Cagar Alam, Alive Museum Ancol, Ocean Ecopark, SnowBay Waterpark,) - Similarity Score: 0.26910600105302823 - Rating: 0.7000000000000002
- Kiandra Iswahyudi (Samarinda, Taman Hiburan, Candi Prambanan, Candi Borobudur, Kawasan Malioboro, ,) - Similarity Score: 0.15997238268189437 - Rating: 0.7999999999999998
- Septi Andriani (Bali, Bahari, Taman Mini Indonesia Indah (TMII), Museum Satria Mandala,) - Similarity Score: 0.142059061357073 - Rating: 0.6000000000000001
- Wawan Wibisono (Samarinda, Cagar Alam, Museum TNI AL Loka Jala Crana, Klenteng) - Similarity Score: 0.27907937277452954 - Rating: 0.3999999999999999
- Pangestu Hidayat (Bali, Budaya, Dago Dreampark, Orchid Forest Cikole, Jendela Alam, Sudut) - Similarity Score: 0.12403417344538713 - Rating: 0.3500000000000001
- Puti Malika Tamba (Samarinda, Budaya, Kawasan Punclut, Lawangwangi Creative Space, Curug Tilu Leuwi) - Similarity Score: 0.1459749804893202 - Rating: 0.19999999999999996
- Dipa Ramadan (Bandung, Cagar Alam, Saloka Theme Park, Water Blaster Bukit Candi) - Similarity Score: 0.27827566315591146 - Rating: 0.050000000000000044
- Digdaya Situmorang (Nusa Tenggara Timur, Budaya, Indonesia Kaya Park, Taman Pandanaran, Taman) - Similarity Score: 0.15479991716058047 - Rating: 0.1499999999999999
- Lasmono Wibowo (Bali, Pusat Perbelanjaan, Desa Wisata Sungai Code Jogja Kota, Kawasan) - Similarity Score: 0.1647345108250397 - Rating: 0.10000000000000009
- Yuni Maheswara (Maluku, Bahari, Galeri Nasional Indonesia, Museum Seni Rupa dan Kramik,) - Similarity Score: 0.14173143317863093 - Rating: 0.10000000000000009

In [ ]:
# Change to DataFrame

# Create an empty DataFrame to store the results
results_df = pd.DataFrame(columns=['Tourist', 'Guide', 'Expertise', 'Similarity Score', 'Rating'])

# Melakukan pencocokan tourist dengan guide
for tourist in platform.tourists:
    matched_guides = platform.find_guide(tourist)
    if len(matched_guides) > 0:
        for guide, similarity_score in matched_guides:
            # Append the result to the DataFrame
            results_df = results_df.append({
                'Tourist': tourist.name,
                'Guide': guide.name,
                'Expertise': guide.expertise,
                'Similarity Score': similarity_score,
                'Rating': guide.rating
            }, ignore_index=True)
    else:
        # Append the result to the DataFrame
        results_df = results_df.append({
            'Tourist': tourist.name,
            'Guide': 'N/A',
            'Expertise': 'N/A',
            'Similarity Score': 'N/A',
            'Rating': 'N/A'
        }, ignore_index=True)

# Print the DataFrame
results_df

,Tourist,Guide,Expertise,Similarity Score,Rating
0,tourist 1,Prayoga Usada,"Aceh, Budaya, Pasar Beringharjo, Pasar Kebon E...",0.135879,0.90
1,tourist 1,Edward Mayasari,"Makassar, Budaya, Taman Buah Surabaya, Taman P...",0.056145,0.95
2,tourist 1,Shania Laksmiwati,"Jakarta, Budaya, Museum Sepuluh Nopember Kota ...",0.048416,0.95
3,tourist 1,Karja Mayasari,"Makassar, Pusat Perbelanjaan, Kampung Wisata T...",0.117665,0.85
4,tourist 1,Hamzah Hutasoit,"Bandung, Budaya, Museum Joang 45, Museum Fatah...",0.049934,0.90
...,...,...,...,...,...
99,tourist 3,Puti Malika Tamba,"Samarinda, Budaya, Kawasan Punclut, Lawangwang...",0.145975,0.20
100,tourist 3,Dipa Ramadan,"Bandung, Cagar Alam, Saloka Theme Park, Water ...",0.278276,0.05
101,tourist 3,Digdaya Situmorang,"Nusa Tenggara Timur, Budaya, Indonesia Kaya Pa...",0.154800,0.15
102,tourist 3,Lasmono Wibowo,"Bali, Pusat Perbelanjaan, Desa Wisata Sungai C...",0.164735,0.10
103,tourist 3,Yuni Maheswara,"Maluku, Bahari, Galeri Nasional Indonesia, Mus...",0.141731,0.10

Input = Tempat Wisata yang dituju, Lokasi Wisata yang dituju

Rekomendasi harus mempertimbangkan rating Guide